---
const { lang, list, color } = Astro.props
---

<div class='col'>
  <p>{lang}</p>
  <div>
    {
      list
        .sort((a, b) => a[0].localeCompare(b[0]))
        .map(site => (
          <a
            href={site[1]}
            target='_blank'
            class={`btn ${color}`}
          >
            {site[0]}
          </a>
        ))
    }
  </div>
</div>
